streamlit>=1.28,<1.31
pandas==2.1.4
numpy<1.26
Pillow>=9.5,<11

gspread>=5.11
pytz
python-dateutil

google-api-python-client>=2.90
google-auth-httplib2>=0.1.0
google-auth-oauthlib>=1.0

matplotlib>=3.7,<3.9
